<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<style>
div {
    height: 350px;
    width: 50%;
}
</style>
<body>
	<div style="background-color:powderblue;">
		<h1>Hello my name is {{ name }}</h1>
		<article>I am {{ age }} years old</article>
		<article> </article>
		<article>NPM : {{ npm }}</article>
		<article>Kuliah	: Fasilkom</article>
		<article>Hobi : Voli</article>
		<article>Desc. : suka ngantuk dikelas, lumayan tinggi :p</article>
		<img src="https://drive.google.com/uc?id=1isGq93xU7QKEN6P-1txBuQEyoIL_RSec" width="200" height="200"/>
	</div>
	
	<div style="background-color:tomato;">
		<h1>Friends #1</h1>
		<article>Muhammand Rizki Darmawan</article>
		<article> </article>
		<article>TTL : Pontianak, 13 September 1999</article>
		<article>NPM : 1706943765</article>
		<article>Kuliah	: Fasilkom</article>
		<article>Hobi : Baca Novel</article>
		<img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/35403897_2108381965857684_5426073025327923200_n.jpg?_nc_cat=0&oh=ef3485725b6ca8a674641c077a2ccb79&oe=5C22C41C" width="200" height="200"/>
	</div>
	
	<div style="background-color:lightgreen;">
		<h1>Friends #2</h1>
		<article>Gusti Fahmi Fadhilah</article>
		<article> </article>
		<article>TTL : Pontianak, 24 Juli 1998</article>
		<article>NPM : 1706044036</article>
		<article>Kuliah	: Fasilkom</article>
		<article>Hobi : Main Game</article>
		<img src="https://drive.google.com/uc?id=1G3TmzMRGPepvyXbPoE-lcx37QZIXChOM" width="175" height="200"/>
	</div>
</body>
</html>
